### Data Sources
##### Downloaded on Oct 17th 2017 (Step 1)
 1.	Net Migration (http://data.un.org/Data.aspx?d=WDI&f=Indicator_Code%3aSM.POP.NETM)
 2.	Percentage of Individuals using the Internet http://data.un.org/Data.aspx?d=ITU&f=ind1Code%3aI99H

###### Setting up Notebook and importing relevant packages.(Step 2-4)

In [1]:
import pandas as pd 
import matplotlib as mpl 
import numpy as np 
import matplotlib.pyplot as plt 
%matplotlib inline

###### Steps( 5-9) Read the file, display head , drop footnotes, change column names.

In [5]:
net_mig_df = pd.read_csv('/Users/ssharma/code/nss-ds/data-question-1-shrutijalewar/data/net_migration_minor.csv')
net_mig_rename = net_mig_df.drop('Value Footnotes',axis=1)
net_mig_rename = net_mig_rename.rename(columns={'Country or Area': 'Country','Value':'Net_migration'})
net_mig_rename.head(6)

       Country  Year  Net_migration
0  Afghanistan  2012         473007
1  Afghanistan  2007        -677497
2  Afghanistan  2002         804120
3  Afghanistan  1997        -379474
4  Afghanistan  1992        2227474
5  Afghanistan  1987       -1484185

In [7]:
net_use_df = pd.read_csv('/Users/ssharma/code/nss-ds/data-question-1-shrutijalewar/data/internet_use_minor.csv', nrows=4495)
net_use_rename = net_use_df.drop('Value Footnotes',axis=1)
net_use_rename = net_use_rename.rename(columns={'Country or Area': 'Country','Value':'Inernet_users_pct'})
net_use_rename.head(6)

       Country  Year  Inernet_users_pct
0  Afghanistan  2014           6.390000
1  Afghanistan  2013           5.900000
2  Afghanistan  2012           5.454545
3  Afghanistan  2011           5.000000
4  Afghanistan  2010           4.000000
5  Afghanistan  2009           3.550000

###### Merge the two dataframes as one.(Step 10)

In [8]:
merge_df = pd.merge(net_use_rename,net_mig_rename, how='outer', on=['Country','Year'])
merge_df.head()

       Country  Year  Inernet_users_pct  Net_migration
0  Afghanistan  2014           6.390000            NaN
1  Afghanistan  2013           5.900000            NaN
2  Afghanistan  2012           5.454545       473007.0
3  Afghanistan  2011           5.000000            NaN
4  Afghanistan  2010           4.000000            NaN